
<% provide(:title,"About me") %>
<h1 style="margin:auto;margin-top:50px;"><%= yield :title %></h1>
<div style="margin:auto;margin-top:50px;max-width:600px">
</br>
<p>I would like to give a warm welcome to my new site!</p>
</br>
<p>I started to make websites around six years ago, I think this made me in to what i am today, a classic coder. Everything you can see on this site is developed, designed and created by hand from scratch.</p></br></div>