<% provide(:title,"Contact") %>
<h1 style="margin:auto;margin-top:50px;"><%= yield :title %></h1>
<div style="margin:auto;margin-top:50px;max-width:600px;text-align: center;"></br>
<p >For contact, please follow the link:</p></br>
<a href="https://adam-n-portfolio.herokuapp.com/">Contact</a></div>
