<% provide(:title,"Help") %>
<h1 class="title_style"><%= yield :title %></h1>
<div style="margin:auto;margin-top:50px;max-width:600px;text-align: center;"></br>
<p > Get help on this site, plesase contact with the owner of the site</p></br>
<a href="https://adam-n-portfolio.herokuapp.com/">Contact</a></div>
